*{
    margin: 0;
    padding: 0;
    
}
.section{
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(circle,rgb(64, 52, 52),rgb(13, 13, 13),rgb(36, 9, 9));
}
.container{
    width: 100%;
    height: auto;
    background-image: radial-gradient(circle,rgb(64, 52, 52),rgb(13, 13, 13),rgb(36, 9, 9));
}
.navbar{
    height: 60px;
    background-color: rgb(103, 43, 43);
    display: flex;
    color: white;
}
.navbar .right{
    width: 20%;
    overflow: hidden;
}
.navbar .right img{
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 100px;
}
.navbar .mid{
    width:50%;
    text-align: center;
    margin-top: 6px;
    overflow: hidden;
    font-family: 'Itim', cursive;
    word-spacing: 20px;
}
.navbar .left{
    width: 30%;
    overflow: hidden;

}
.navbar ul {
    display: block;
}
.navbar .left ul li{
    display: inline-block;
    padding: 20px 20px 20px 20px;
    font-size: larger;
    text-align: center;
}
.typing{
    width: 70%;
    background-image: radial-gradient(circle,rgb(64, 52, 52),rgb(13, 13, 13),rgb(36, 9, 9));
    margin-top: 100px;
    margin-left: 160px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px 2px rgb(103, 43, 43);
}
.typing .input1{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    border: 1px solid black;
}
.typing .input2{
    width: 10%;
    margin: auto;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: larger;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: rgb(142, 48, 48);
}
.typing .input2:hover{
    background-color: black;
    color: white;
}
.typing .input3{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
    overflow: hidden;
    color: wheat;
    word-spacing: 10px;
    font-size:20px;
}
.footer{
    width: 100%;
    height: 80px;
    margin-top: 50px;
    background-color: rgb(103, 43, 43);
    display: flex;
    font-size: 40px;
    font-weight: bold;
    color: wheat;
    overflow: hidden;
}
.footer .wordspermin{
    width: 50%;
    margin: auto;
    text-align: center;
}
.footer .accur{
    width: 50%;
    margin: auto;
    display:grid;
    align-items: center;
    justify-items: center;
}

